<!doctype html>
<html lang="en">
<title>Timezoner</title>
<meta charset=utf-8>

<% for (f of css) { %>
<link rel=stylesheet href="<%= f %>">
<% } %>

<body>
<h1>~ Timezoner ~</h1>

<div id="app">
	<h1>Loading&hellip;</h1>
</div>

<footer>
	<p>A project by <b>Shrikant Kandula</b>. Made possible thanks to the
		<a href="http://momentjs.com/" target="_blank" rel="noopener">moment.js</a> project. City data provided by
		<a href="http://geonames.org" target="_blank" rel="noopener">geonames.org</a>.</p>
</footer>

<script src="https://unpkg.com/mithril@2.0.4/mithril.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.0.4"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.26.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment-timezone@0.5.31/builds/moment-timezone-with-data.min.js"></script>
<% for (f of js) { %>
<script src="<%= f %>"></script>
<% } %>
